/*container*/ 
*{
    font-family: inherit;
    margin:0;
}

.warpper{
    margin: 0px 34px;
    height: 60px;
}
.wrapper{
    margin: 0px auto;
    height: 60px;
    background-color:#FFFAF0;
    width:100%
}
.wrapper2{
    background-color:#FFFAF0;
    width:93%;
    margin-left:50px
}

/* header css*/

/*img_logo*/
header{
    align-items: center;
}

.symbol
{
    padding-top: 10px;
    display: flex;
}

.logo img{
    display: block;
    max-width:180px;
    max-height:80px;
    width: auto;
    height: auto;
}

header  i {
    color: black;
    font-size: 20px;
}

/*header_right*/

.symbol .col25 .left{
    flex:1;
}

.symbol .menu{
    flex:1
}
.right{
   text-align: right;
}
.right > a{
    margin-left:30px;
}

/*header_left*/

.col25 .left{
    /* text-align:center;
    align-items: center; */
    position: relative;
    padding: px;
}
.col25 .left #myInput{
   padding-top: 10px;
    position:absolute;
}
.fa-search{
    position:absolute;
}
.fa-shopping-cart{
    margin: 10px 0 0 20px;
}



/*----------------------------------*/

/*css menu*/
.menu ul{
    list-style-type: none;
    background: #FFFAF0;
    text-align: center;
}

.menu ul li{
    color:#FFFAF0;
    display:inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.menu ul li a{
    color:black;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover{
    background:rgb(253, 242, 209);
    border-bottom: 2px solid red;
    color: red; 
}

.menu ul li > .submenu{
    display:none;
    position: absolute;
}

.menu ul li:hover .submenu{
    display:block;
}



ul.menu li a{
    color:  #FFFAF0;
    text-decoration: none;
    display: block;
}

/*----------------------------------*/
/*fixed*/

.fix{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0px;
    margin: 0;
}
nav .menu{
    background-color: #FFFAF0;
}

/*css reponsive*/

@media only screen and (max-width: 1000px){
    div.product {
        width: 50%;
    }
    .footer_service{
        width: 50%;
    }
}
 /*SUBMENU*/
 .subcontent{
    display: none !important;
    position: absolute;
    background-color:#FFFAF0;
}

.submenu:hover .subcontent{
    display:block !important;
    z-index: 1;
}


.title_blog{
    padding-top:150px;
    padding-left:20px;
    align-items: center;
    display:flex;
}
.title_blog h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}
.title_blog h1 a{
    color:black;
    text-decoration: none;
   
}
.title_blog h1 a:hover{
    color:goldenrod;
}

.col15{
    width: 15%;
}

.main{
    display:flex;
    margin: 35px;
}




/*----------------------------------*/
/*FOOTER*/
.footer_services{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width:96%;
    margin-left:32px
}
.footer_services i{
    font-size: 55px;

}

.service_info{
    margin-left:10px;
    display:block;
}
.footer_service{
    width: 25%;
    padding:10px 20px;
    display:flex;
    color:rgb(19, 19, 19);
    align-items: center;
}

.footer_service h2{
    font-size:20px;
}


div.service_info > h2{
    font-weight: bold;
}


.footer_credit{
    padding-top: 50px;
    background-color:white;
}

img.logocredit{
    width:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social{
    text-align: center;
}

.social > a > i{
    font-size: 40px;
    color: black;
}

.sm{
    margin: 20px 10px;
}

.social > a > i.sm:hover{
    color:goldenrod;
}

.wpb_content_element.title-1 {
    
    text-align: center;
  }
  .wpb_content_element.title-1:after {
    background: url(Images/title.png ) no-repeat center center;
    content: '';
    display: block;
    height: 35px;
    margin-top: 7px;
    width: 100%;
  }
  .wpb_content_element.title-1 h3 {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  .wpb_content_element.title-1 h2 {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
 


  .product_thumbail{
    position: relative;
    width: 100%;
 }

 .middle {
    width: 10%;
    right: calc(60% - 40px);
    opacity: 0;
    position: absolute;
    top: calc(50% - 35px);
    text-align: center;
    transition: 0.2s ease;
  }
.middle > a.set{
    color: black;
    font-size: 50px;
  
 }
 .product_thumbail:hover .middle {
    opacity: 1;
    color: goldenrod;
    
  
  }
  .product_thumbail .middle > a.set:hover{
      color: goldenrod;
  }



  div.title h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
div.products{
    display : flex;
    flex-wrap: wrap;
}


div.product{
    width: 33%;
    box-sizing: border-box;
    padding:40px;
    margin: 0 auto;
}
.images img{
    width: 100%;
}

.product_info p{
    text-align: center;
    padding:0 16px;
}
.product_name{
  
    font-size:25px;
    font-weight: 100;
}

.product_price{
    font-size:20px;
    font-weight: 700;
    padding:3px;
    
}

.product:hover .images {
    opacity: 0.3;
    transition: 0.5s;
}
/*----------------------------------*/

.row {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-3{
  

    display: flex;
    
}
.col-lg-6 .widget-title{
    text-align: left;
}

.widget-title{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    

    display: flex;
    
}    

.col-sm-6 col-md-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.links{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    

    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



/*----------------------------------*/


h4, .h4 { font-size: 1.4rem }
html { 
    font-size: 62.5%; 
    font-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100% 
}
.footer { 
    flex: 0 0 auto; 
    color: #90969a; 
    background-color: #1d1d1d; 
   
    font-size: 1.3rem; 
    line-height: 1.4 
}
.footer .social-icon { 
    color: #fff; 
    background-color: #2c2c2c; 
    margin-bottom: 0; 
    width: 4.8rem; 
    height: 4.8rem; 
    font-size: 1.8rem 
}
.footer .social-icon+.social-icon { margin-left: .5rem }
.footer .social-icon:hover, .footer .social-icon:focus { 
    color: #fff; 
    background-color: #0e0e0e 
}
.footer-middle { 
    padding: 4rem 0 2.5rem 
}
.footer .widget-title { 
    color: #fff; 
    font-weight: 600; 
    font:  1.4rem "Oswald", sans-serif;
    letter-spacing: .075em; 
    text-transform: uppercase; 
    margin-bottom: 1.9rem ;
    text-align: right;
    
}
.footer-top { 
    padding-top: 1.8rem;
    border-bottom: 1px solid #2c2c2c 
}
.footer-top .widget-title { margin-bottom: 1.4rem }
.footer .widget { margin-bottom: 3.5rem }
.footer .links { margin-bottom: 0 }
.footer .links li {
     position: relative; 
     margin-bottom: .8rem 
    }
.footer a { color: inherit }
.footer a:hover, .footer a:focus { color: #fff; text-decoration: underline }
.footer .widget-social { margin-bottom: 3rem }
.footer .widget-social::after { display: block; clear: both; content: '' }
.contact-info { margin-bottom: 0 }
.contact-info li { 
    position: relative; 
    line-height: 1.35; 
    margin-bottom: 1.3rem
 }
.contact-info-label { 
    display: block; 
    font-weight: 600; 
    color: #fff; 
    text-transform: uppercase 
}
.widget-newsletter p { 
    margin-top: -.5rem; 
    margin-bottom: 1.5rem; 
    line-height: 1.5; 
    max-width: 360px 
}
.widget-newsletter form { 
    position: relative; 
    margin-bottom: 0; 
    max-width: 370px 
}
.widget-newsletter .form-control {
    height: 5rem; 
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1; 
    color: #6b7074; 
    border: 1px solid #2c2c2c; 
    background-color: #2c2c2c; 
    padding: 1.45rem 13.7rem 1.45rem 2rem; 
    margin-bottom: 1rem; 
    border-radius: 0 
}
.widget-newsletter .form-control:focus { 
    color: #6b7074; 
    border-color: #2c2c2c; 
    background-color: #1d1d1d 
}
.widget-newsletter .form-control::-webkit-input-placeholder {  color: #6b7074 }
.widget-newsletter .form-control:-ms-input-placeholder { color: #6b7074 }
.widget-newsletter .form-control::-ms-input-placeholder { color: #6b7074 }
.widget-newsletter .form-control::placeholder { color: #6b7074 }
.widget-newsletter .btn { 
    position: absolute; 
    right: 1px; 
    top: 1px; 
    display: inline-block; 
    font-weight: 600; 
    font-size: 1.4rem; 
    line-height: 1; 
    font-family: "Open Sans", sans-serif; 
    letter-spacing: 0; 
    color: #fff; 
    background-color: #2c2c2c; 
    text-transform: uppercase; 
    border-radius: 0; 
    padding: 1.6rem 1.9rem; 
    border-left-color: #3b3b3b
 }
.widget-newsletter .btn:hover, .widget-newsletter .btn:focus { 
    color: #fff; 
    background-color: #1e1e1e 
}
.footer-bottom { 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    padding-top: 2.1rem; 
    padding-bottom: 2.1rem; 
    border-top: 1px solid #3d3d38 
}
.footer-copyright { margin-bottom: 1.2rem }
.footer-payments { margin-left: auto; margin-right: auto }
#scroll-top { 
    height: 40px; 
    position: fixed; 
    right: 15px; 
    width: 40px; 
    z-index: 9999; 
    bottom: 0; 
    background-color: #404040; 
    font-size: 16px; color: #fff; 
    text-align: center; line-height: 1; 
    padding: 11px 0; 
    visibility: hidden; 
    opacity: 0; 
    border-radius: 0; transition: all .3s; 
    -webkit-transition: all .3s;
    transform: translateY(40px); 
    -webkit-transform: translateY(40px); 
    -ms-transform: translateY(40px) }
#scroll-top:hover, #scroll-top:focus { background-color: #555 }
#scroll-top.fixed { 
    visibility: visible; 
    opacity: 1; transform: 
    translateY(0); 
    -webkit-transform: translateY(0); 
    -ms-transform: translateY(0) }
@media screen and (min-width:768px) {
	.footer { padding-top: 4rem }
	.footer .widget-social .social-icons { float: right; margin-bottom: 0 }
}
@media screen and (min-width:992px) {
	.footer .widget { margin-bottom: 4rem }
	.footer-top { padding-top: 2.8rem }
	.footer-top .widget { margin-bottom: 1.3rem }
	.footer-middle { padding-top: 5rem; padding-bottom: 1.9rem }
	.footer-bottom { flex-direction: row }
	.footer-copyright { margin-bottom: 0 }
	.footer-payments { margin-left: auto; margin-right: 0; margin-bottom: 0 }
	.footer .social-icons { margin-left: auto }
}
@media screen and (max-width:767px) {
	.footer .footer-top .widget { margin-bottom: 2rem }
}





.social-icons { display: flex; align-items: center }
.social-icon { display: inline-flex; align-items: center; justify-content: center; font-size: 1.4rem; width: 3.2rem; height: 3.2rem; background-color: #0e0e0e; color: #fff; text-decoration: none; opacity: 1 }
.social-icon+.social-icon { margin-left: .6rem }
.social-icon:hover, .social-icon:focus { color: #fff; text-decoration: none; opacity: .85 }
.social-icon.social-facebook { color: #fff; background-color: #3b5a9a }
.social-icon.social-twitter { color: #fff; background-color: #1aa9e1 }
.social-icon.social-linkedin { color: #fff; background-color: #0073b2 }
.social-icon.social-gplus { color: #fff; background-color: #dd4b39 }
.social-icon.social-mail { color: #fff; background-color: #dd4b39 }

.info-box { display: flex; align-items: center; padding: 1rem; width: 100%; border: 1px solid #dedede }
.info-box:first-child { margin-top: 1rem }
.info-box i { font-size: 3.7rem; margin-right: 2.7rem; min-width: 5rem; margin-left: 1.5rem; margin-right: 1.5rem; text-align: center; color: #252525 }
.info-box i::before { margin: 0; width: auto }
.info-box h4 { margin-top: .2rem; margin-bottom: 0; color: #252525; font: 600 1.4rem/1.1 "Open Sans", sans-serif; letter-spacing: .025em; text-transform: uppercase }
.info-box p { margin-bottom: 0; font-size: 1.2rem; line-height: 1.8; letter-spacing: .01em }
.info-box+.info-box { margin-top: -1px }
@media screen and (min-width:992px) {
	.info-box:first-child { margin-top: 0 }
}
.nav.nav-tabs { border: 0; margin: 0; border-bottom: .2rem solid #e7e7e7 }
.nav.nav-tabs .nav-item { margin-bottom: -.2rem }
.nav.nav-tabs .nav-item .nav-link { padding: 1.2rem 0; font: 500 1.4rem/1 "Oswald", sans-serif; color: #282d3b; border: 0; border-bottom: .2rem solid transparent; text-transform: uppercase; letter-spacing: .01rem }
.nav.nav-tabs .nav-item .nav-link:hover { color: #0e0e0e }
.nav.nav-tabs .nav-item+.nav-item { margin-left: 3.4rem }
.nav.nav-tabs .nav-item.show .nav-link, .nav.nav-tabs .nav-item .nav-link.active { color: #0e0e0e; border-bottom-color: #0e0e0e }
@media screen and (max-width:479px) {
	.nav.nav-tabs { justify-content: space-between }
	.nav.nav-tabs .nav-item+.nav-item { margin-left: 0 }
}
.count-container { margin-bottom: 4rem }
.count-wrapper { font: 400 2.8rem/1 "Oswald", sans-serif; text-transform: uppercase; color: #252525; margin-bottom: .8rem }
.count-title { color: #777; font: 600 1.6rem/1 "Open Sans", sans-serif; margin-bottom: 0 }
@media screen and (min-width:992px) {
	.count-wrapper { font-size: 3.6rem }
}

@media screen and (min-width: 600px){
    .header-info, .header-top 
        {
            padding-top: 1.1rem;
            padding-bottom: 1.1rem;
    
        }
    }
    .header-info {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: .025rem;
        color: #fff;
        background-color: #0e0e0e;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .header { background-color: #fff }
    .header .container, .header .container-fluid { display: flex; align-items: center }
    .header-left, .header-center, .header-right { display: flex; align-items: center }
    
    .header-info a { color: inherit }
    .header-info-list { display: none; margin: 0; text-transform: uppercase }
    .header-info-list::after { display: block; clear: both; content: '' }
    .header-info-list>li { float: left }
    .header-info-list>li+li { margin-left: 2.5rem }
    
    *, ::after, ::before {
        box-sizing: border-box;
    }
    
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    @media screen and (min-width: 768px){
    .header-info-list 
        {
            display: block;
        }
    }
    ul, ol {
        list-style: none;
        margin: 0 0 1rem;
        padding: 0;
    }

    
    #mybutton{
        display : block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color:black;
        border: 2px solid black;
        color: white;
        outline:  none;
        font-size: 20px;
        opacity: 0.88;
    }
    html {
        scroll-behavior: smooth;
      }

      .row {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
      }


  /*SUBMENU*/
.subcontent{
    display: none !important;
    position: absolute;
    background-color: white;
}

.submenu:hover .subcontent{
    display:block !important;
    z-index: 1;
}


.title_blog{
    padding-top:170px;
    padding-left:20px;
    align-items: center;
    display:flex;
}
.title_blog h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}
.title_blog h1 a{
    color:black;
    text-decoration: none;
   
}
.title_blog h1 a:hover{
    color:goldenrod;
}


.col15{
    width: 15%;
}
.col85{
    width: 85%;
}
.main{
    display:flex;
    margin: 35px;
}
/*LEFT*/
ul.vertical{
    list-style-type: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
ul.vertical > li >a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size: 20px;
    display:block;
    padding:12px;
    margin: 10px;
}

ul.vertical > li >a:hover{
    color:goldenrod;
}

/*RIGHT*/
.catalog{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
}
.sneaker{
    width: 25%;
    text-align: center;
    padding:2%;
}
div.sneaker img{
    width: 100%;
}
.sneaker_info{
    font-weight: bold;
    font-size: 17px;
}



/*PAGENUMBER*/
.page_next{
    display:flex;
    margin-right: 46px;
    justify-content: flex-end;
}

.page_number a{
    display:block;
    color : black;
    background-color:white;
    padding : 0px;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border:1px solid black;
    text-align: center;
    text-decoration: none;
}
.page_number a:hover{
    background-color: black;
    color:white
}

/* CSS PRODUCT */


.test{
    position: relative;
}

.set {
    position: absolute;
    top: 50%;
    text-align: center;
    color: gray;
    font-size:75px;
}
div.sneaker img:hover{
    opacity: 0.3;
    cursor: pointer;
}


#mybutton{
    display : block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:black;
    border: 2px solid black;
    color: white;
    outline:  none;
    font-size: 20px;
    opacity: 0.88;
}
html {
    scroll-behavior: smooth;
  }

  /*fixed*/

.fix{
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0px;
    margin: 0;
}
nav .menu{
    background-color: white;
}

  
@media only screen and (max-width: 1000px){
    div.product {
        width: 50%;
    }
    .footer_service{
        width: 50%;
    }
    .sneaker{
        width: 50%;
    }
}